.profile-img {
    height: 200px;
}

.home-container {
    height: 50px;
    width: 400px;
    position: relative;
    left: 10%;
}

.home-img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.home-name {
    font-family: sans-serif;
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 60px;
}

.users-container {
    padding-bottom: 20px;
}

button.delete {
    background-color: rgb(255, 80, 80);
}

button {
    background-color: rgb(190, 190, 190);
    border-radius: 6px;
}

li, h1, form {
    font-family: sans-serif;
    color: rgb(133, 132, 132);
}

body {
    background-color: rgb(255, 255, 255);
}