img {
    height: 200px;
}

button.delete {
    background-color: rgb(255, 80, 80);
}

button {
    background-color: rgb(190, 190, 190);
    border-radius: 6px;
}

li, h1, form {
    font-family: sans-serif;
}

body {
    background-color: rgb(189, 170, 211);
}