<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogly</title>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  
    <nav class="navbar b-clr-1">
        <a class="nav-link nav-title" href="/" id="nav-users-list">Blogly</a>
        <a class="nav-link t-clr-2" href="/users" id="nav-users-list">Users</a>
        <!-- <div class="nav-left">
        </div> -->
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/jquery"></script>

    <!-- <script src="/static/app.js"></script> -->
</body>
</html>