{% extends 'base.html' %}

{% block title %}Blogly{% endblock %}

{% block content %}
<div class="header-1 t-clr-2">Users</div>

<div class="users-container">
    {% for user in users %}
    <div class="home-container">
        <img class="home-img" src="{{ user.image }}">
        <a class="home-name t-clr-1" href="/user/{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</a>
    </div>
    {% endfor %}
</div>
<form action="/add">
    <button action="/add" class="b-clr-2">Add</button>
</form>
{% endblock %}