{% extends 'base.html' %}

{% block title %}Blogly{% endblock %}

{% block content %}
<div class="header-1 t-clr-2">Posts</div>
<br><br>
<div class="all-posts">
    {% for post in posts %}
    <img class="home-img" src="{{ post.user.image }}">
    <div class="post-container">
        <div id="post-first-line">
            <div class="post-user-name t-clr-1">{{ post.user.first_name }} {{ post.user.last_name }}</div>
            <div class="post-title t-clr-2">{{ post.title }}</div>
        </div>
        <div class="post-date t-clr-2">{{ post.created_at }}</div>
        <div class="post-content t-clr-1">{{ post.content }}</div> 
        <div class="tags-container">
            {% for tag in post.tags %}
            <button class="tag small-button t-clr-2">{{ tag.name }}</button>
            {% endfor %}
        </div>
        <!-- <form action>
            <button id="post-delete-btn" class="delete" formaction="/delete/post/{{ post.id }}" formmethod="post">X</button>
        </form> -->
    </div>
    {% endfor %}
</div>

{% endblock %}