{% extends 'base.html' %}

{% block title %}Blogly - New Post{% endblock %}

{% block content %}
<img src="{{ user.image }}" class="profile-img">
<div class="user-name header-1 t-clr-2">{{ user.first_name }} {{ user.last_name }}</div>
<br>
<div class="header-2 t-clr-1">New Post</div>
<br>
<form id="new-post-form" action="/user/{{ user.id }}/new_post" method="POST">
    <div class="form-text t-clr-2">Title: <input name="title" value=""></div>
    <br>
    <div class="form-text t-clr-2">Content: 
        <textarea class="post-input" name="content" ></textarea>
    </div>
    <br>
    <div class="form-text t-clr-1">Tags:
        {% for tag in tags %}
        <div class="tag-container">
            <label class="tag-label t-clr-2" for="tag{{ tag.id }}">{{ tag.name }}</label>
            <input class="tag-input" type="checkbox" name="tags" id="tag{{ tag.id }}" value="{{ tag.id }}">
        </div>
        {% endfor %}
    </div>
</form>
<br>
<form>
    <button class="b-clr-2"type="submit" form="new-post-form">Post</button>
    <button class="b-clr-2"formaction="/user/{{ user.id }}">Cancel</button>
</form>


{% endblock %}