{% extends 'base.html' %}

{% block title %}Blogly - New Post{% endblock %}

{% block content %}
<img src="{{ user.image }}" class="profile-img">
<div class="user-name header-1 t-clr-2">{{ user.first_name }} {{ user.last_name }}</div>
<br>
<div class="header-2 t-clr-1">New Post</div>
<br>
<form id="new-post-form" action="/user/{{ user.id }}/new_post" method="POST">
    <p class="form-text t-clr-2">Title: <input name="title" value=""></p>
    <p class="form-text t-clr-2">Content: <input class="post-input" name="content" value=""></p>
    <p class="form-text t-clr-1">Tags:
        <label class="tag-label t-clr-2" for="tag1">Work</label>
        <input class="tag-input" type="checkbox" name="tag1">
        <label class="tag-label t-clr-2" for="tag2">Travel</label>
        <input class="tag-input" type="checkbox" name="tag2"Travel>
        <label class="tag-label t-clr-2" for="tag3">Fun</label>
        <input class="tag-input" type="checkbox" name="tag3"Fun>
        <label class="tag-label t-clr-2" for="tag4">Music</label>
        <input class="tag-input" type="checkbox" name="tag4"Music>
    </p>
</form>

<form>
    <button class="b-clr-2"type="submit" form="new-post-form">Post</button>
    <button class="b-clr-2"formaction="/user/{{ user.id }}">Cancel</button>
</form>

{% endblock %}