{% extends 'base.html' %}

{% block title %}Blogly - User{% endblock %}

{% block content %}

<img class="profile-img" src="{{ user.image }}">
<div class="header-1 t-clr-2">{{ user.first_name }} {{ user.last_name }}</div>
<form class="user-buttons">
    <button class="b-clr-2" formaction="/edit/{{ user.id }}">Edit</button>
    <button type="submit" form="delete-form" class="delete">Delete</button>
</form>
<br>
<div class="header-2 t-clr-2">Posts</div>
<br>
<form id="add-post-form" action="/user/{{ user.id }}/new_post">
    <button class="b-clr-2">Add Post</button>
</form>
<br>
<div class="user-posts">
    {% for post in posts %}
    <div class="post-container">
        <div class="post-title t-clr-1">{{ post.title }}</div>
        <div class="post-date t-clr-2">{{ post.created_at }}</div>
        <div class="post-content t-clr-1">{{ post.content }}</div> 
    </div>
    {% endfor %}
</div>

{% endblock %}