{% extends 'base.html' %}

{% block title %}Blogly - User{% endblock %}

{% block content %}

<img class="profile-img" src="{{ user.image }}">
<div class="header-1 t-clr-1">{{ user.first_name }} {{ user.last_name }}</div>
<form class="user-buttons">
    <button class="b-clr-2" formaction="/edit/{{ user.id }}">Edit</button>
    <button class="delete" formaction="/delete/{{ user.id }}" formmethod="post">Delete</button>
</form>
<br>
<div class="header-2 t-clr-2">Posts</div>
<br>
<div class="user-posts">
    {% for post in posts %}
    <div class="user-post-container">
        <div class="post-title t-clr-1">{{ post.title }}</div>
        <div class="post-date t-clr-2">{{ post.created_at }}</div>
        <div class="post-content t-clr-1">{{ post.content }}</div> 
        <div class="tags-container">
            {% for tag in post.ts %}
            <button class="tag small-button t-clr-2">{{ tag.name }}</button>
            {% endfor %}
        </div>
        <form>
            <button id="post-edit-btn" class="small-button b-clr-2" formaction="/edit/post/{{ post.id }}" formmethod="get">Edit</button>
            <button id="post-delete-btn" class="delete small-button" formaction="/delete/post/{{ post.id }}" formmethod="post">X</button>
        </form>
    </div>
    <br>
    {% endfor %}
</div>
<br>

<form id="add-post-form" action="/user/{{ user.id }}/new_post">
    <button class="b-clr-2">Add Post</button>
</form>

{% endblock %}